
__pycache__/app.cpython-312.pyc

config/__pycache__/

controlador/__pycache__/

controlador/dao/__pycache__/

controlador/exception/__pycache__/

controlador/tda/linked/__pycache__/

modelo/__pycache__/

routes/__pycache__/

*.pyc
